.DS_Store
build*/
bin/
*.o
*.a
CalculiX
ccx
spooles.out
*.12d
*.cvg
*.sta
test/*.dat
test/*.frd
test_NewLib/*.dat
test_NewLib/*.frd
!test/*.dat.ref
!test/*.frd.ref
!test/*.net.ref
!test/*.ref.ref
test_NewLib/testsuite_results/*


# third_party/mumps/.gitignore
*.o
*.a
*.so
*.mod
test_NewLib/all.msh
test_NewLib/benchmark_solvers.py
test_NewLib/NFIX.nam
test_NewLib/NTIP.nam
.aider*
comparison_solvers.csv
